html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.tabela-produtos {
  width: 100%;
  border-collapse: collapse; /* mantém layout sólido */
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  background-color: #fff;
}

.tabela-produtos thead {
  background-color: #0d6efd;
  color: white;
}

.tabela-produtos thead th {
  padding: 12px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  border-bottom: 1px solid #ccc; /* linha entre header e body */
}

.tabela-produtos tbody td {
  padding: 12px;
  text-align: center;
  font-size: 14px;
  border-top: 1px solid #eee; /* linha entre linhas */
}

.tabela-produtos tbody tr:hover {
  background-color: #f5f5f5;
  transition: background-color 0.2s ease;
}

.produto-img {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.produto-sem-imagem {
  width: 100px;
  height: 100px;
  border: 1px dashed #aaa;
  text-align: center;
  line-height: 100px;
  color: #888;
  font-size: 12px;
  border-radius: 6px;
  margin: 0 auto;
}

.tabela-detalhes {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  font-size: 14px;
  margin-top: 20px;
}

.tabela-detalhes th {
  background-color: #f5f5f5;
  text-align: left;
  padding: 12px;
  width: 30%;
  border-bottom: 1px solid #eee;
  font-weight: 600;
  color: #333;
}

.tabela-detalhes td {
  padding: 12px;
  border-bottom: 1px solid #eee;
  color: #444;
}
