html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.tabela-produtos {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 12px rgba(0,0,0,0.05);
  margin-top: 30px;
}
.tabela-produtos th {
  background-color: #f8f9fa;
  color: #333;
  font-weight: bold;
}

.tabela-produtos td, .tabela-produtos th {
  padding: 12px;
  vertical-align: middle;
}

.btn-sm {
  margin-right: 5px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.btn-primary {
  margin-top: 20px;
  display: block;
  width: fit-content;
}

