# Banco
*.db

# Configurações sensíveis
appsettings.*.json
!appsettings.Development.json

# Dir build
bin/
obj/

# Dir VS Code
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

# Cache
.nuget/
packages/

# Logs e temps
*.log
*.tmp
*.bak

# Dumps e sistema
*.pid
*.swp
*.DS_Store
Thumbs.db

# Arquivos de publish temp
publish/
wwwroot/dist/

# Ferramentas
.idea/
*.resharper
_ReSharper*/

# Incluir o launchSettings.json
!src/**/launchSettings.json

# Incluir as imagens dos produtos para o seed
!src/**/wwwroot/images/produtos/**