@model AppLojaBackofficeMvc.Models.Categoria

@{
    ViewData["Title"] = "Detalhes da Categoria";
}

<h1 class="text-center my-4">Detalhes da Categoria</h1>

<div class="row justify-content-center">
    <div class="col-md-6">
        <dl class="row">
            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.CategoriaDescricao)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.CategoriaDescricao)</dd>
        </dl>

        <div class="d-flex justify-content-between mt-4">
            <a asp-action="Index" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Voltar
            </a>
            <a asp-action="Edit" asp-route-id="@Model.CategoriaId" class="btn btn-primary">
                <i class="fas fa-pen"></i> Editar
            </a>
        </div>
    </div>
</div>
