@model IEnumerable<AppLojaBackofficeMvc.Models.Categoria>

@{
    ViewData["Title"] = "Categorias";
}

<h1 class="text-center my-4">Categorias</h1>

<p class="mb-3">
    <a asp-action="Create" class="btn btn-success">
        <i class="fas fa-plus"></i> Nova Categoria
    </a>
</p>

<table class="tabela-produtos">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.CategoriaDescricao)</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.CategoriaDescricao)</td>
                <td>
                    @Html.Partial("_ActionButtons", item.CategoriaId)
                </td>
            </tr>
        }
    </tbody>
</table>
